{{#each errors}}
  <div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}
<div class="card card-body">
  <h3>Edit Question</h3>
  <form action="/questions/{{question.id}}?_method=PUT" method="post">
    <div class="form-group">
      <input type="hidden" name="_method" value="PUT">
      <label for="title">Question</label>
      <input type="text" class="form-control" value="{{question.title}}" name="title" required>
    </div>
    <div class="form-group">
      <label for="details">Details</label>
      <textarea name="details" class="form-control" required>{{question.details}}</textarea>
    </div>
    <div class="form-group">
      <label for="branch">Branch</label>
      <select name="branch" value="{{question.branch}}">
          <option value="CSE">CSE</option>
          <option value="MECH">MECH</option>
          <option value="ETC">ETC</option>
      </select>

      </div>
      <div class="form-control">

        <label for="topics">Topics</label>
        <input type="text" name="topics" value="{{question.topics}}" data-role="tagsinput" />
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>